# ignore compiled code
*.exe
*.jar

# ignore middle steps for latex
*.aux
*.log
*.out
*.listing
*.toc
*.pygstyle
*.pygtex

# ignore any pdf's from subfolders
*/*.pdf

# unignore .out sample files
!problems/**/*.out